{% extends "layout.html" %} {% block content %}
    <div class="resume">
        <header class="page-header">
            <h1 class="page-title">{{ deputado.nome_parlamentar }}</h1>
            <small><i class="fa fa-clock-o"></i> Atualizado pela última vez em:
                <time>{{ deputado.ultima_atualizacao }}</time>
            </small>
        </header>
        <div class="row">
            <div class="col-md-2">
                <figure>
                    <img class="img-circle img-responsive" alt="{{ deputado.nome_parlamentar }}" src="{{ deputado.url_foto }}">
                </figure>
            </div>
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item"><strong>{{ deputado.nome_parlamentar }}</strong><br/>{{ deputado.nome.capitalize() }}

                    </li>
                    <li class="list-group-item">Gasto Total neste ano: <strong>{{ total }}</strong>
                    </li>
                    <li class="list-group-item">Partido: {{ deputado.partido }}/{{ deputado.uf }}
                        - {{ deputado.condicao }} Gab: {{ deputado.gabinete }} / Anexo: {{ deputado.anexo }}</li>
                    <li class="list-group-item"><i class="fa fa-phone"></i> (61) {{ deputado.fone }}
                    </li>
                    <li class="list-group-item"><i class="fa fa-envelope"></i> {{ deputado.email }}
                    </li>
                </ul>
            </div>
            <div class="col-md-6 bs-callout bs-callout-danger">
                <h4>Gastos mensais</h4>
                <div>
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
        <div class="bs-callout bs-callout-danger">
            <h4>Despesas</h4>
            <table class="table table-striped table-responsive ">
                <thead>
                <tr>
                    <th>Numero Subcota</th>
                    <th>Descrição</th>
                    <th>Mes da despesa</th>
                    <th>Valor</th>
                </tr>
                </thead>
                <tbody>
                {% for d in despesas|sort(attribute='valor', reverse=True) %}
                    <tr>
                        <td>{{ d.num_subcota }}</td>
                        <td>{{ d.descricao }}</td>
                        <td>{{ d.mes }}</td>
                        <td> {{ d.valor }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    </div>
    </div>
    </div>
    <script>var data = {
        labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho","Agosto","Setembro","Outubro","Novembro","Dezembro"],
        datasets: [

            {
                fillColor: "rgba(255,0,0,0.5)",
                strokeColor: "rgba(255,0,0,0.8)",
                highlightFill: "rgba(255,0,0,0.75)",
                highlightStroke: "rgba(255,0,0,1)",
                data: [{{ valores['jan'] }}, {{ valores['fev'] }}, {{ valores['mar'] }}, {{ valores['abr'] }}, {{ valores['mai'] }}, {{ valores['jun'] }}]
            }
        ]
    }
    window.onload = function () {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx).Line(data, {
            responsive: true,
            belzierCurve: false
        });
    }
    </script>
{% endblock %}