{% extends "layout.html" %}
{% block content %}
    <input type="search" id="input-search" placeholder="Busca Deputados...">
    <div class="searchable-container">
        {% for d in deputados %}
        <div class="items">
            <img src="{{ d.url_foto }}" alt="{{ d.nome }}" />
            <h3><a href="deputados/{{ d.id }}">{{ d.nome_parlamentar }}</a></h3>
        </div>
        {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        $(function () {
            $('#input-search').on('keyup', function () {
                var rex = new RegExp($(this).val(), 'i');
                $('.searchable-container .items').hide();
                $('.searchable-container .items').filter(function () {
                    return rex.test($(this).text());
                }).show();
            });
        });
    </script>
{% endblock %}